
streamlit
python-dotenv
streamlit_option_menu
streamlit_chat
openai
requests
st-social-media-links
langchain==0.0.350
langchain-community==0.0.17
langchain-core==0.1.4
langchain-google-genai
google-generativeai
google-genai
tqdm
chromadb
faiss-cpu
pypdf
